<div class="row" *ngIf="song">
  <div class="col-1">
    <img class="thumbnail" [src]="song.thumbnail" />
  </div>
  <div class="col-3 my-auto">
    <p>{{ song.title }}</p>
    <p class="artist">{{ song.artist }}</p>
  </div>
  <div class="col-4 my-auto controls">
    <!-- Shuffle -->
    <button (click)="shuffle()"><fa-icon [icon]="faRandom"></fa-icon></button>
    <!-- Previous -->
    <button (click)="prevSong()">
      <fa-icon [icon]="faBackward"></fa-icon>
    </button>
    <!-- Pause/Play -->
    <button (click)="togglePlay()">
      <div *ngIf="controller.pauseState; else elseBlock">
        <fa-icon [icon]="faPause" size="lg"></fa-icon>
      </div>
      <ng-template #elseBlock>
        <fa-icon [icon]="faPlay" size="lg"></fa-icon>
      </ng-template>
    </button>
    <!-- Skip -->
    <button (click)="nextSong()"><fa-icon [icon]="faForward"></fa-icon></button>
    <!-- Loop -->
    <button (click)="toggleLoop()">
      <ng-container *ngIf="controller.loop == 0; else loopElseIfBlock">
        <fa-icon [icon]="faRedo"></fa-icon>
      </ng-container>
      <ng-template #loopElseIfBlock
        ><ng-container *ngIf="controller.loop == 1; else loopElseBlock">
          <fa-icon [icon]="faRedo" class="active"></fa-icon> </ng-container
      ></ng-template>
      <ng-template #loopElseBlock>
        <fa-icon [icon]="faRedo" class="active"></fa-icon>
      </ng-template>
    </button>
  </div>
  <div id="slidercontainer" class="col-4 my-auto">
    <input
      type="range"
      min="0"
      max="30"
      (change)="changeVolume($event)"
      [value]="controller.volume"
      class="slider"
      id="myRange"
    />
  </div>
</div>
