<div class="card bg" *ngIf="playlist">
  <div class="row">
    <div class="col-11"></div>
    <button class="col-1 my-auto" (click)="deselectList()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div *ngFor="let song of playlist.songs">
    <div class="row">
      <button class="col-1 my-auto"><fa-icon [icon]="faPlus"></fa-icon></button>
      <span class="col-5 my-auto">{{ song.title }}</span>
      <span class="col-5 my-auto">{{ song.artist }}</span>
      <button class="col-1 my-auto">
        <fa-icon [icon]="faHeart"></fa-icon>
      </button>
    </div>
    <hr />
  </div>
</div>
