.thumbnail {
  max-height: 40px;
  max-width: 40px;
}
.card {
  max-width: 800px;
  text-align: start;
  margin: 20px auto;
  padding: 10px 5px;
  background-color: #131313;
  color: white;
  font-size: small;
  border-radius: 20px;
}
.row {
  padding: 0px 10px;
  margin: 0;
}
.button {
  margin: 0;
  padding: auto;
}
hr {
  margin: 0 5px;
  padding: 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #181818;
  color: #161616;
}
.active {
  color: #e16035;
}

/* .list-group {
  height: calc(100vh - 200px);
  overflow: hidden;
  overflow-y: scroll;
} */

.list-group::-webkit-scrollbar {
  width: 1em;
}

.list-group::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #131313;
}

.list-group::-webkit-scrollbar-thumb {
  background-color: #353535;
}
