.thumbnail {
  max-height: 40px;
  max-width: 40px;
}
.card {
  max-width: 800px;
  text-align: start;
  margin: 16px auto;
  padding: 5px;
  background-color: #111111;
  color: white;
  font-size: small;
}
.row {
  padding: 0px 10px;
  margin: 0;
}
.button {
  margin: 0;
  padding: auto;
}
hr {
  margin: 0 5px;
  padding: 0;
  border-style: inset;
  border-width: 1px;
  color: #111111;
}
.active{
  color: #e16035;
}