/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  background-color: #131313;
}
body {
  height: calc(100% - 110px);
  background-image: linear-gradient(#353535, #131313);
}

.avatar {
  max-height: 40px;
  max-width: 40px;
  border-radius: 50px;
}
.thumbnail {
  max-height: 60px;
  max-width: 60px;
  margin-left: 15px;
}
button {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border: none;
  color: white;
}
.card {
  //   max-width: 400px;
  margin: 16px auto;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
p {
  font-size: small;
}
.artist {
  color: #e16035;
}
