.row {
  margin: 0px;
  text-align: start;
}
.artist, .active {
  color: #e16035;
}
button,
fa-icon {
  padding: 0;
  margin: 0;
}
.avatar {
  padding: 0;
  margin: 0;
  max-height: 40px;
  max-width: 40px;
  border-radius: 50px;
}
