<div class="row my-auto" [matTooltip]="song.youtubeTitle">
  <img
    *ngIf="song.user"
    class="avatar col-4 d-none d-md-block"
    [src]="
      'https://cdn.discordapp.com/avatars/' +
      song.user.id +
      '/' +
      song.user.avatar
    "
  />
  <div class="col-6">
    <div class="row row-cols-1">
      <span>{{ song.title }}</span>
      <span class="artist" *ngIf="song.artist">{{ song.artist }}</span>
    </div>
  </div>
  <div class="col-3 ml-auto">
    <div class="row row-cols-1">
      <button (click)="toggleFavorite(song)">
        <div *ngIf="isFavorite(song.id); else elseBlock">
          <fa-icon [icon]="faSolidHeart"></fa-icon>
        </div>
        <ng-template #elseBlock>
          <fa-icon [icon]="faHeart"></fa-icon>
        </ng-template>
      </button>
      <button (click)="removeFromQueue()">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
  </div>
</div>
