<div id="app" class="container-fluid">
  <nav id="navbar" class="gradient navbar fixed-top navbar-expand-lg">
    <!-- <div class="gradient collapse navbar-collapse" id="navbarSupportedContent"> -->
    <button *ngIf="authenticated" (click)="openSettings()">
      <fa-icon [icon]="settings ? faHome : faCog"></fa-icon>
    </button>
    <div *ngIf="selectedServer" class="dropdown nav-item">
      <button
        class="btn dropdown-toggle nav-item"
        type="button"
        id="serverMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        {{ selectedServer.name }}
      </button>
      <div class="dropdown-menu" aria-labelledby="serverMenuButton">
        <a
          *ngFor="let server of servers"
          (click)="selectServer(server)"
          class="dropdown-item"
          >{{ server.name }}</a
        >
      </div>
    </div>
    <a *ngIf="selectedServer" class="navbar-brand nav-item">
      <img
        class="avatar"
        [src]="
          'https://cdn.discordapp.com/icons/' +
          selectedServer.id +
          '/' +
          selectedServer.icon
        "
      />
    </a>
    <a *ngIf="user" class="navbar-brand nav-item">
      <img
        class="avatar"
        [src]="
          'https://cdn.discordapp.com/avatars/' + user.id + '/' + user.avatar
        "
      />
    </a>
    <!-- </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <input
      class="form-control ml-auto mr-sm-2 d-none d-sm-block"
      type="search"
      placeHolder="Search"
      aria-label="Search"
      [formControl]="query"
      (keyup.enter)="search()"
    />
  </nav>
  <div id="home" class="row" style="height: 100%;">
    <div
      id="playlists"
      class="col-sm-6 col-md-3 order-md-1 panel d-none d-sm-block"
    >
      <app-lists [playlists]="playlists"></app-lists>
    </div>
    <div id="center" class="col-md col-sm-12 order-md-2 order-first">
      <!-- Not Authenticated -->
      <div *ngIf="!authenticated; else settingsTab">
        <app-login></app-login>
      </div>
      <!-- Settings Tab -->
      <ng-template #settingsTab>
        <div *ngIf="settings; else resultsTab">
          <app-settings></app-settings>
        </div>
        <!-- Results Tab -->
        <ng-template #resultsTab>
          <div *ngIf="results; else listTab">
            <app-results-list></app-results-list>
          </div>
          <!-- List Tab -->
          <ng-template #listTab>
            <div *ngIf="selectedList; else musicPlayer">
              <app-list [playlist]="selectedList"></app-list>
            </div>
            <!-- Music Player Tab -->
            <ng-template #musicPlayer>
              <app-music-player
                [song]="currentSong"
                [controller]="controller"
              ></app-music-player>
            </ng-template>
          </ng-template>
        </ng-template>
      </ng-template>
    </div>
    <div id="queue" class="col-sm-6 col-md-3 mx-auto order-md-3 panel">
      <app-queue [queue]="queue"></app-queue>
    </div>
  </div>
  <nav id="music-player" class="navbar bottom-bar fixed-bottom navbar-dark bg">
    <app-inline-music-player
      [song]="currentSong"
      [controller]="controller"
      class="wide"
    ></app-inline-music-player>
  </nav>
</div>
