.row {
  text-align: center;
  padding: 0;
  margin: 50px 0;
}
.container-fluid {
  height: 100%;
  background-color: rgb(22, 22, 22, 0);
  margin: 0;
  padding: 0;
}
.col-sm-4 {
  margin: 0;
  padding: 0;
}
.navbar,
.wide {
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 60px;
}
.panel {
  max-width: 300px;
  font-size: small;
}
.nav-item {
  padding-left: 5px;
}
.btn {
  background-color: #353535;
  color: white;
}
.btn:focus {
  background-color: #131313;
}
.navbar,
.navbar-collapse {
  background-color: #353535;
}
.bottom-bar {
  background-color: #131313;
}
input,
input:focus {
  max-width: 300px;
  background-color: #353535;
  color: #e16035;
  border: none;
  font-size: small;
}
input:focus {
  background-color: #131313;
}
.dropdown-menu {
  padding: 0;
  background-color: #353535;
  color: white;
}
.dropdown-item {
  padding: 10px;
}
.dropdown-item:hover {
  background-color: #131313;
}