<div class="container-fluid">
  <nav class="gradient navbar fixed-top navbar-expand-lg">
    <div class="gradient collapse navbar-collapse" id="navbarSupportedContent">
      <button *ngIf="authenticated" (click)="openSettings()">
        <fa-icon [icon]="settings ? faHome : faCog"></fa-icon>
      </button>
      <div *ngIf="selectedServer" class="dropdown nav-item">
        <button
          class="btn dropdown-toggle nav-item"
          type="button"
          id="serverMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ selectedServer.name }}
        </button>
        <div class="dropdown-menu" aria-labelledby="serverMenuButton">
          <a
            *ngFor="let server of servers"
            (click)="selectServer(server)"
            class="dropdown-item"
            >{{ server.name }}</a
          >
        </div>
      </div>
      <a *ngIf="selectedServer" class="navbar-brand nav-item">
        <img
          class="avatar"
          [src]="
            'https://cdn.discordapp.com/icons/' +
            selectedServer.id +
            '/' +
            selectedServer.icon
          "
        />
      </a>
      <a *ngIf="user" class="navbar-brand nav-item">
        <img
          class="avatar"
          [src]="
            'https://cdn.discordapp.com/avatars/' + user.id + '/' + user.avatar
          "
        />
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline nav-item">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeHolder="Search"
        aria-label="Search"
        (keypress.submit)="({})"
      />
    </form>
  </nav>
  <div class="row" style="height: 100%;">
    <div class="col-md-3 col-6 order-md-1 panel">
      <app-lists [playlists]="playlists"></app-lists>
    </div>
    <div class="col-md col-sm-12 order-md-2 order-first">
      <!-- Not Authenticated -->
      <div *ngIf="!authenticated">
        <app-login></app-login>
      </div>
      <!-- Authenticated -->
      <div *ngIf="authenticated">
        <!--  Settings tab -->
        <div *ngIf="settings"><app-settings></app-settings></div>
        <div *ngIf="!settings">
          <!-- List Tab -->
          <div *ngIf="selectedList">
            <app-list [playlist]="selectedList"></app-list>
          </div>
          <!-- Music Player Tab -->
          <div *ngIf="!selectedList">
            <app-music-player [song]="currentSong"></app-music-player>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 order-md-3 panel">
      <app-queue [queue]="queue"></app-queue>
    </div>
  </div>
  <nav class="navbar bottom-bar fixed-bottom navbar-dark bg">
    <app-inline-music-player
      [song]="currentSong"
      [controller]="controller"
      class="wide"
    ></app-inline-music-player>
  </nav>
</div>
