<div class="row">
  <div class="col-4 row-gutter">
    <button class="gutter-button" (click)="back()"></button>
  </div>
  <div class="col">
    <div class="card bg">
      <div class="row">
        <div class="col"></div>
        <button class="col-1 my-auto" (click)="back()">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </div>
      <div class="row mx-auto">
        <h4>Connect Accounts</h4>
      </div>
      <div class="row row-col-2">
        <a class="mx-auto" (click)="authYoutube()">
          <fa-icon [icon]="faYoutube" size="4x"></fa-icon>
        </a>
        <a class="mx-auto" (click)="authSpotify()">
          <fa-icon [icon]="faSpotify" size="4x"></fa-icon>
        </a>
      </div>
    </div>
    <div class="row below-card">
      <button class="gutter-button" (click)="back()"></button>
    </div>
  </div>
  <div class="col-4 row-gutter">
    <button class="gutter-button" (click)="back()"></button>
  </div>
</div>
